.company div h4,.subscribe h4{
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.company div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.company div ul li{
    list-style-type: none;
}
.company div ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.input-letter{
    width: 100%;
}
.input-letter input{
    background-color: rgb(250, 249, 249);
    outline: 0;
    border: 0;
    height: 40px;
    padding: 2px 8px;
}
.input-letter button{
    outline: 0;
    border: 0;
    height: 40px;
    background-color: black;
    color: gold;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2px 8px;
}